@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto">
    <h3>My Cart</h3>

    <table class="table table-bordered">
        <tr>
            <th>Book</th>
            <th>Image</th>
            <th>Genre</th>
            <th>Unit Price</th>
            <th>Qty</th>
            <th>Total Price</th>
        </tr>
    </table>
</div>
